<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  {{!-- Additional CSS styling for the new recipe page --}}
  <style>
    .card {
      max-width: 700px;
      margin: 100px auto;
      border-radius: 5%;
    }

    .form-group {
      margin-top: 20px;
    }

    .buttonHolder {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  {{> header}}

  <div class="card">
    <div class="card-header text-center">
      {{title}}
    </div>

    <div class="card-body">
      <form action="/recipes/save" method="POST">
        <input type="hidden" name="_id" value="{{recipe._id}}">

        <div class="form-group">
          <input type="text" class="form-control" id="title" name="title" value="{{recipe.title}}" aria-describedby="titleHelp" placeholder="Title" required>
          <small id="titleHelp" class="form-text text-muted">Be creative!</small>
        </div>

        <div class="form-group">
          <textarea class="form-control" id="ingredients" name="ingredients" placeholder="Ingredients" required>{{recipe.ingredients}}</textarea>
        </div>

        <div class="form-group">
          <textarea class="form-control" id="instructions" name="instructions" placeholder="Instructions" required>{{recipe.instructions}}</textarea>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="tags" name="tags" value="{{recipe.title}}" placeholder="Tags (comma-separated)">
        </div>

        <div class="buttonHolder">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
